@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/*font-family: 'Montserrat', sans-serif;*/

:root {
    --white-color: #ffffff;
    --primary-color: #f44749;
    --secondary-color: #f3af24;
    --section-bg-color: #f9f9f9;
    --dark-color: #000000;
    --title-color: #565758;
    --news-title-color: #292828;
    --p-color: #717275;
    --border-color: #eaeaea;
    --primary-btn-hover: #bb2d3b;
    --overlay: rgba(0, 0, 0, 0.7);

    --border-radius-default: .25rem;

    --body-font-family: 'Montserrat', sans-serif;

    --h1-font-size: 76px;
    --h2-font-size: 56px;
    --h3-font-size: 42px;
    --h4-font-size: 28px;
    --h5-font-size: 26px;
    --h6-font-size: 22px;

    --p-font-size: 18px;
    --menu-font-size: 18px;
    --category-font-size: 14px;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: var(--section-bg-color);
    font-family: var(--body-font-family);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--dark-color);
}

h1,
h2 {
    font-weight: var(wei--font-weight-bold);
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--font-weight-semibold);
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--white-color);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-light);
    color: var(--p-color);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    position: relative;
}

img {
    display: block;
}


.nav-bar {
    width: 100%;
    height: 6.25rem;
    background: transparent;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    width: 81.25rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--h3-font-size);
    transition: all 0.3s;
}

.logo:hover {
    color: var(--primary-color);
}

.main-menu {
    display: flex;
    gap: 2rem;
}

.main-menu__link {
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-semibold);
    transition: all 0.3s;
}

.main-menu__link:hover {
    color: var(--primary-color);
}

.btn {
    font-family: inherit;
    border-radius: var(--border-radius-default);
    border: none;
    outline: none;
    color: var(--white-color);
    transition: all 0.3s;
    cursor: pointer;
}

.btn--big {
    padding: 1rem 2.5rem;
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-semibold);
}

.btn--primary {
    background: var(--primary-color);
}

.btn--primary:hover {
    background: var(--primary-btn-hover);
}

.section-hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--overlay);
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header__score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.header__reviews {
    margin: 4rem 0;
}

.header__score {
    color: var(--white-color);
}

.header__star {
    color: #f3af24;
    font-size: var(--h5-font-size);
}

.header__review-text {
    color: var(--white-color);
    font-size: 20px;
    line-height: 2;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

/*------ Menu Section ------*/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    max-width: 81.25rem;
    margin: auto;
}

.section__title {
    text-align: center;
    margin-bottom: 5rem;

}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1.5rem;
}

.card {
    max-width: 415px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.card:hover .card__img {
    transform: scale(1.3);
}

.card:hover .card__title {
    color: #bb2d3b;
}

.card__img-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

.card__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.card__category {
    position: absolute;
    background: var(--secondary-color);
    color: var(--white-color);
    top: 0.625rem;
    left: 0;
    padding: 0.3rem 0.5rem;
}

.card__price {
    position: absolute;
    background-color: var(--white-color);
    bottom: 0.625rem;
    right: 0;
    font-size: 1.25rem;
    padding: 0.3rem 0.9rem;
    font-weight: var(--font-weight-semibold);
    border-radius: 15px 0 0 15px;
}

.card__title {
    transition: 0.3s;
}

.card__info-container {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1rem;
}

.card__reviews-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__score {
    font-weight: var(--font-weight-semibold);
    font-size: var(--p-font-size);
}

.card__star {
    font-size: var(--p-font-size);
    color: var(--secondary-color);
}

.card__reviews {
    font-size: var(--p-font-size);
    color: var(--p-color);
}

/*------ Full-width Section ------*/

.full-width {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 0;
}

.full-width--restaurant {
    background-image: url(../images/restaurant.jpg);
}

/*------ Resturant Info ------*/

.res-section__info {
    display: flex;
    max-width: 81.25rem;
    gap: 3rem;
    margin-bottom: 4rem;
}

.res-section__video {
    display: block;
}

.res-section__text-container {
    background: var(--overlay);
    padding: 2rem 3rem;
}

.res-section__title {
    color: var(--white-color);
}

.res-section__text {
    color: var(--white-color);
    margin-top: 1rem;
    line-height: 1.5;
}

/*------ Our Team ------*/

.team-card {
    position: relative;
    max-width: 25.9rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    overflow: hidden;
}

.team-card:hover .team-card__info-container {
    bottom: 0;
}

.team-card__img {
    display: block;
    width: 100%;
    height: 100%;
}

.team-card__info-container {
    position: absolute;
    padding: 1.5rem;
    bottom: -7rem;
    background: var(--overlay);
    width: 100%;
    height: 7rem;
    transition: 0.5s;
}

.team-card__name,
.team-card__position {
    color: var(--white-color);
}

/*------ Gallery Section ------*/

.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gallery__image-container {
    width: 20%;
    aspect-ratio: 1;
    overflow: hidden;
}

.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    transition: all 0.3s;
}

.gallery__image-container:hover .gallery__image {
    transform: scale(1.3);
}

/*------ Reservation Section ------*/

.full-width--reservation {
    background-image: url(../images/reserve-bg.jpg);

}

.form-container {
    background: var(--overlay);
    width: 73.2rem;
    display: flex;
}

.form {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    padding: 3rem 4rem;
}

.form__title {
    width: 100%;
    color: var(--white-color);
    text-align: center;
}

.form__text {
    width: 100%;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 1rem;
}

.form__text--highlight {
    color: var(--secondary-color);
    font-weight: var(--font-weight-semibold);
}

.form__input,
.form__select,
.form__date,
.form__textarea {
    font-family: inherit;
    background: var(--news-title-color);
    padding: 0.8rem;
    outline: none;
    font-size: var(--p-font-size);
    border: 1px solid var(--white-color);
    color: #fff;
    margin-bottom: 1rem;
}

.form__input {
    width: 48%;
}

.form__select {
    width: 30%;
    padding: 0.5rem;
}

.date {
    width: 30%;
    padding: 0.5rem;
    font-family: inherit;
    background: #f3af24;
}

.form__textarea {
    width: 100%;
}

.btn--full-width {
    width: 100%;
}

.contact {
    background: var(--overlay);
    width: 34%;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.contact__phone {
    color: var(--secondary-color);
    text-align: center;
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-bold);
    margin-bottom: 3rem;
}

.contact__label {
    color: white;
    font-weight: var(--font-weight-semibold);
    text-align: center;
    margin-bottom: 0.7rem;
}

.contact__info-text {
    text-align: center;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 2.5rem;
}

.contact__social-container {
    display: flex;
    gap: 1rem;
}

.contact__social-icon {
    color: white;
    font-size: var(--h3-font-size);
    transition: all 0.3s;
}

.contact__social-icon:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

/*------ News & Events ------*/

.blog-card {
    position: relative;
    width: 357px;
    height: 460px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.blog-card:hover .blog-card__img {
    transform: scale(1.3);
}

.blog-card__img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    transition: all 0.3s;
}

.blog-card__info-container {
    position: absolute;
    background: var(--overlay);
    height: 150px;
    width: 100%;
    bottom: 0;
    padding: 1.5rem;
}

.blog-card__category {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    font-size: 0.8rem;
}

.blog-card__title {
    color: var(--white-color);
    margin-top: 1rem;
}

.btn--blog {
    margin-top: 5rem;
    width: fit-content;
    display: block;
    background: var(--news-title-color);
    color: var(--white-color);
}

.btn--blog:hover {
    background: var(--secondary-color);
}

/*------ Footer ------*/

.footer {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background-image: url(../images/footer-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;
    width: 50%;
    max-width: 81.25rem;
}

.footer__title,
.footer__text {
    color: var(--white-color);
}

.footer__title {
    margin-bottom: 1.5rem;
}

.footer__text {
    line-height: 2;
}

/*------ Media Queries ------*/

@media only screen and (max-width: 1439px) {

    .nav-bar {
        padding: 0 4rem;
    }

    .menu-container {
        width: 100%;
    }

    .card {
        max-width: 23.75rem;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 30px;
    }

    .res-section__info {
        flex-direction: column;
        align-items: center;
    }

    .res-section__text-container {
        width: 80%;
    }

    .team-card {
        max-width: 23.75rem;
    }

    .gallery {
        justify-content: center;
    }

    .gallery__image-container {
        width: 25%;
    }

    .gallery__image-container:nth-last-child(-n+2) {
        display: none;
    }

    .footer__info-container {
        width: 80%;
    }
}

@media only screen and (max-width: 1279px) {

    :root {
        --h4-font-size: 22px;
    }

    .card {
        max-width: 18.75rem;
    }

    .card__score {
        font-size: 16px;
    }

    .card__star,
    .card__reviews {
        font-size: 14px;
    }

    .team-card {
        max-width: 18.75rem;
    }

    .form-container {
        width: 80%;
        flex-direction: column;
    }

    .form {
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .team-card__info-container {
        bottom: 0;
        height: 6.5rem;
    }

    .blog-card {
        width: 18.75rem;
    }

    .blog-card__info-container {
        height: 10rem;
    }

}

@media only screen and (max-width: 1023px) {

    :root {
        --h1-font-size: 66px;
        --h2-font-size: 46px;
        --h3-font-size: 36px;
        --h4-font-size: 22px;
        --h5-font-size: 26px;
        --h6-font-size: 18px;
        --p-font-size: 16px;
    }
        
    .form__text--highlight {
        color: var(--secondary-color);
        font-weight: var(--font-weight-semibold);
    }
    
    .form__input {
        width: 48%;
    }
    
    .form__select {
        width: 28%;
    }
    
}

@media only screen and (max-width: 799px) {
    :root {
        --h1-font-size: 50px;
        --h2-font-size: 40px;
    }

    .res-section__info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .res-section__video-container{
        width: 100%;
    }
    
    iframe {
        display: block;
        width: 85%;
        margin: auto;
    }

    .gallery__image-container {
        width: 50%;
    }

    .form {
        padding: 3rem 1.5rem;
    }

    .form__input,
    .form__select,
    .date {
        width: 100%;
    }    
}

@media only screen and (max-width: 599px) {
    :root {
        --h1-font-size: 40px;
        --h2-font-size: 30px;
        --h3-font-size: 30px;
    }
}

@media only screen and (max-width: 479px) {

    :root {
        --h3-font-size: 25px;
    }

    .header__score,
    .header__star,
    .header__review-text {
        font-size: 18px;
    }

    .card,
    .team-card {
        margin-bottom: 0;
    }

    .res-section__text-container {
        width: 100%;
    }

    .contact {
        padding: 3rem 1.5rem;
    }
}